.Main {
  border: 2px solid red;
}
.climb {
  height: 14rem;
  width: 14rem;
}
.bill {
  display: flex;
  justify-content: center;
}
.mation {
  border: 2px blue solid;
  height: 30rem;
  width: 20rem;
}
